.env

# air(ホットリロード)で勝手に更新されるので除外
/tmp/*
# ビルドファイル
main

# 多分コンテナ作成時に勝手に作成されるキャッシュなので除外
.attach_pid*

# GoLand用のリモートコンテナ作成時勝手に作成されるので削除。
.idea
ide

# カバレッジ率
coverage.out
coverage.html

# 恐らくWindowsユーザーに使用中と解釈されWSL2配置時にgit configコマンドが失敗してしまうのでマウントした際の差分を無視する用。
.gitconfig
